<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
       <div class="main-content">
            {{>header}}

            <p> This site was created by Anil Tirumalakanduri. It uses data from mapbox.com and weatherstack.com</p>
            <img class= "portrait" src="/img/weather-about.jpg" alt="">
           
        </div>
        {{>footer}}
    </body>
</html>