<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Help page</title>
    </head>
    <body>
       <div class="main-content">
            {{>header}}

            
        </div>


        <p>{{message}}</p>
        {{>footer}}
    </body>
</html>